* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  width: 100%;
  background-color: #ec5858;
}

.navbar {
  max-width: 1400px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 100px;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* -----nav links----- */
.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li {
  margin-right: 1.5em;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  font-weight: 600;
  color: rgb(219, 36, 30);
}

.sign-btn {
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #000;
  text-align: center;
  white-space: pre;
  margin-right: 0.8em;
  cursor: pointer;
  border: 1px solid grey;
  transition: tranform 0.5s ease;
}

.sign-btn:hover {
  transform: scale(1.2);
  color: #333;
  border: none;
  color: #fff;
  font-size: 12px;
  background-color: rgb(255, 76, 5);
}
select {
  border: none;
  width: 40px;
  background-color: transparent;
}
/* ------toggle menu btn-----  */
.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #000;
  margin-right: 0.625rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
  background-color: #ffffff;
}

/* ------hero section------ */
.hero-section {
  width: 100%;
}

.hero-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.hero-text {
  width: 50%;
  padding: 80px 10px;
  padding-bottom: 30px;
}
.hero-text h1 {
  font-size: 70px;
  color: #181e4b;
  margin-right: 150px;
}
.hero-text p {
  margin-top: 5px;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.3;
  margin-right: 50px;
}
.hero-container .trevel {
  width: 50%;
}
.hero-container .trevel img {
  width: 600px;
  margin-left: 100px;
}
.hero-text .btns {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  height: 100px;
}

.hero-text .btns button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #f1a501;
}
.hero-text .btns p {
  color: #333;
}
.hero-container .trevel > div {
  width: 45%;
  position: absolute;
  top: 10%;
}
.hero-container .travels-img {
  width: 100%;
}
.hero-container .travels-img img {
  width: 600px;
  margin-top: 10px;
  height: 600px;
}

/* ------------category------------- */
.category--sec {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
}
.categorys {
  max-width: 1400px;
  margin: auto;
  padding: 50px 10px;
  padding-bottom: 100px;
}
.categorys p {
  color: #333;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: sans-serif;
}
.categorys h1 {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  color: #333;
  font-family: serif;
  margin-top: 15px;
}
.category-card .card {
  max-width: 250px;
  min-width: 220px;
  height: 280px;
  padding: 30px 50px;
  text-align: center;
  position: relative;
  border-radius: 25px;
  border: 1px solid rgb(230, 229, 229);
  background-color: #faf7f7;
  z-index: 1000;
}
/* .category-card .card .bg-card {
  z-index: -1;
} */
.category-card .card img {
  width: 100px;
  height: 80px;
}
.categorys-cards {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.category-card .card h4 {
  margin-top: 20px;
  font-weight: 600;
}
.category-card .card p {
  color: #333;
  margin-top: 10px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
}
#bg-card img {
  position: absolute;
  top: 80%;
  right: 70%;
  width: 40%;
  height: 30%;
  z-index: -1;
}

/* ------------destination---------- */
.destinations {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 20px;
}
.destination-container {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 80px;
  justify-content: center;
  position: relative;
}
.destinations p {
  text-align: center;
  font-size: 18px;
  color: #333;
}
.destinations h1 {
  font-size: 34px;
  font-family: serif;
  text-align: center;
  margin-top: 10px;
}
.destination-card {
  max-width: 300px;
  min-width: 220px;
  height: 300px;
  transition: all 0.5s;
}
.destination-card:hover {
  transform: translateY(-15%);
  cursor: pointer;
}
.destination-card img {
  width: 250px;
  height: 320px;
}
.destination-box {
  width: 249px;
  padding: 10px 20px;
  height: 110px;
  position: fixed;
  position: absolute;
  top: 77%;
  left: 19.65%;
  border-radius: 0 0 25px 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(126, 148, 209);
}

.destination-box > div img {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}
.destination-box > div p {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.destination-box > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.destination-box > div p {
  font-size: 16px;
  margin-top: 15px;
  color: #333;
  font-weight: 600;
}
.destination-box1 {
  width: 249px;
  padding: 10px 20px;
  height: 110px;
  position: fixed;
  position: absolute;
  top: 78%;
  left: 41.1%;
  border-radius: 0 0 25px 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(147, 147, 147);
}
.destination-box1 > div img {
  width: 20px;
  height: 20px;
}
.destination-box1 > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.destination-box1 > div img {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}
.destination-box1 > div p {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
  font-weight: 600;
}
.destination-box2 {
  width: 249px;
  padding: 10px 20px;
  height: 110px;
  position: fixed;
  position: absolute;
  top: 78%;
  left: 62.5%;
  border-radius: 0 0 25px 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(147, 147, 147);
}
.destination-box2 > div img {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}
.destination-box2 > div {
  display: flex;
  justify-content: space-between;
}
.destination-box2 > div p {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
  font-weight: 600;
}
#ring{
  width: 70px;
  position: absolute;
  bottom: 50%;;
  left: 89%;
  z-index: -1;
}

/* --------book next trip------ */
.book-trip {
  width: 100%;
  background-color: #fff;
}
.next-trip {
  max-width: 1400px;
  margin: auto;
  display: flex;
  padding: 20px 30px;
  flex-wrap: wrap;
  height: 500px;
}
.book-next-trips {
  width: 50%;
  height: 200px;
}
.book-next-trips p {
  font-size: 18px;
  color: #333;
  margin-left: 15px;
}
.book-next-trips h2 {
  font-size: 34px;
  font-weight: 600;
  margin-right: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-transform: capitalize;
}
.book-next-trips .box1 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-right: 20px;
  align-items: center;
}
.book-next-trips .box1 h6 {
  margin-left: 10px;
  font-size: 18px;
}
.book-next-trips .box1 p {
  margin-right: 50px;
}
.book-next-trips .box1 > img {
  width: 60px;
}
.book-next-trips .box1,
h6 {
  line-height: 1;
}
.book-trip-image {
  width: 50%;
  padding: 50px;
  position: relative;
}
.book-trip-img {
  max-width: 360px;
  min-width: 350px;
  height: 400px;
  padding: 15px;
  border-radius: 20px;
  border: 1px white rgb(92, 179, 229);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -10px 20px rgb(198, 215, 252), 0 -2px 10px rgb(187, 177, 255);
}
.book-trip-img > div h6 {
  margin-top: 20px;
  margin-left: 18px;
  font-size: 18px;
  font-weight: 600;
}
.book-trip-img > div p {
  margin-left: 18px;
  margin-top: 10px;
  color: #333;
}
.book-trip-img .icons {
  display: flex;
  margin-top: 10px;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
}
.book-trip-img .icons img {
  width: 25px;
}
.book-trip-img .icons #bulid {
  width: 20px;
  height: 20px;
}
.trip-box {
  width: 250px;
  padding: 10px 30px;
  position: absolute;
  top: 75%;
  left: 45%;
  padding: 10px;
  display: flex;
  gap: 30px;
  line-height: 1.6;
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 20px rgb(199, 199, 199), 0 -10px 20px gainsboro;
}
.trip-box img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
.trip-box input {
  width: 120px;
  height: 10px;
  margin-top: 10px;
}

/* ---------testimonials--------- */
.testimonials {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.testimonials-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
}
.testimonials-box {
  width: 50%;
  padding: 20px;
}
.testimonials-box p {
  color: #333;
  text-transform: capitalize;
}
.testimonials-box h2 {
  font-size: 34px;
  font-family: serif;
  margin-right: 350px;
}
.testimonials-box img {
  margin-top: 50px;
}
.testimonial-content {
  width: 50%;
  height: 250px;
  padding: 10px;
}

.testimonial-content h6 {
  font-size: 18px;
  margin-top: 20px;
  font-family: serif;
}
.outer-box {
  padding: 10px;
  max-width: 380px;
  min-width: 300px;
  font-size: 16px;
  padding: 30px;
  margin-left: 40px;
  border-radius: 10px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 5px rgb(119, 119, 121);
}
.inner-box {
  max-width: 420px;
  min-width: 380px;
  padding: 5px 20px;
  position: absolute;
  top: 95%;
  height: 130px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  margin-left: 90px;
  border-radius: 10px;
  border: 1px solid ghostwhite;
  box-shadow: 0 0 10px rgb(141, 127, 197);
}
.inner-box h6 {
  font-size: 20px;
  margin-top: 50px;
}
.inner-box p {
  margin-top: 5px;
  font-size: 14px;
}
#arrow {
  position: absolute;
  left: 100%;
  top: 60%;
}
/* ------icons-sec-------- */
.icons-sec {
  width: 100%;
  margin-top: 150px;
  background-color: #ffffff;
}
.icons {
  max-width: 1400px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.icons img {
  width: 150px;
  height: 120px;
  transition: transform 0.5s ease;
}
.icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
#img {
  width: 150px;
  height: 30px;
}

/* -----form section----- */
.form {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  position: relative;
}
.form > div {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  position: relative;
}
.form > div img {
  margin-left: 70px;
}
.form > div h3 {
  font-size: 24px;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 35%;
  color: #333;
}
.form #group {
  position: absolute;
  top: 0;
  left: 82%;
  transition: all 1s ease;
}
.form #group:hover {
  transform: rotate(90deg);
  cursor: pointer;
}
form {
  position: absolute;
  top: 50%;
  left: 25%;
}
form input {
  width: 300px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid ghostwhite;
  background-color: #f6f5f5;
  box-shadow: 0 0 5px rgb(168, 166, 166);
  margin-right: 10px;
}
#imgs {
  width: 18px;
  position: absolute;
  top: 12px;
  left: -50px;
}
form button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #ec5858;
}

/* -------------footer------------ */
footer {
  width: 100%;
  background-color: #fef8f1;
}
.footer-content {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}
.footer-box {
  max-width: 320px;
  min-width: 300px;
  padding: 20px;
}
.footer-box img {
  margin-bottom: 15px;
}
.footer-box1 {
  max-width: 280px;
  min-width: 250px;
  padding: 20px;
}
.footer-box1 p {
  margin-left: 1px;
  color: black;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer-box1 li {
  list-style: none;
  line-height: 1.5;
  color: #333;
}
.footer-box > div {
  display: flex;
  gap: 10px;
}
.footer-content .foot {
  margin-left: 600px;
}
@media (max-width: 768px) {
  .logo {
    margin-left: 20px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: #f8f8e1;
    width: 100%;
    height: 100vh;
    padding: 20px 40px;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 1.25rem;
  }

  .menu-icon {
    display: block;
  }

  .sign-btn {
    display: none;
  }
  select {
    display: none;
  }
  .hero-text {
    width: 100%;
    height: 650px;
    padding: 80px 50px;
  }
  .hero-text h1 {
    margin-right: 0;
  }
  .hero-container .trevel {
    width: 100%;
  }
  .hero-text .btns {
    margin-left: 30px;
  }
  .hero-container .trevel img {
    width: 475px;
    height: 480px;
    margin-left: 10px;
  }
  .hero-container .trevel > div {
    width: 100%;
    top: 105%;
  }
  .category--sec {
    margin-top: 80px;
  }
  #bulid {
    width: 100px;
    height: 20px;
  }
  .destination-box {
    top: 22%;
    left: 23.8%;
  }
  .destination-container {
    margin-left: 10px;
  }
  .destination-card {
    height: 250px;
  }
  .destination-card img{
    height: 270px;
  }
  .destination-box1 {
    top: 58%;
    left: 24%;
  }
  .destination-box2 {
    top: 95%;
    left: 23.8%;
  }
  .book-next-trips {
    width: 100%;
    height: 350px;
    padding: 10px;
  }
  .book-next-trips h2 {
    margin-right: 100px;
    margin-bottom: 20px;
  }
  .book-next-trips {
    height: 500px;
  }
  .trip-box input {
    width: 130px;
  }
  .book-trip-image {
    width: 100%;
    height: 400px;
  }

  .trip-box {
    top: 80%;
    left: 52%;
  }
  .trip-box {
    width: 230px;
  }
  .trip-box input {
    width: 100px;
  }
  .testimonials-container {
    flex-direction: column;
    margin-top: 500px;
  }
  .testimonials-box {
    width: 100%;
    padding: 20px;
  }
  .testimonials-box h2 {
    margin-right: 10px;
  }
  .testimonial-content {
    width: 100%;
    padding: 20px;
    height: 250px;
  }

  .outer-box h6 {
    font-size: 16px;
    margin-top: 20px;
  }
  .inner-box {
    width: 330px;
    margin-left: 75px;
    top: 100%;
  }
  .form-bg img {
    width: 360px;
    height: 300px;
  }
  .form-bg {
    margin-left: 0;
  }
  #group {
    width: 40px;
    margin-left: 30px;
  }
  #imgs {
    width: 15px;
    height: 12px;
    margin-left: 30px;
  }
  #bg-image {
    width: 380px;
    margin-left: 30px;
  }
  #arrow {
    display: none;
  }
  .form {
    width: 100%;
    padding: 0;
  }
  .form > div {
    max-width: 400px;
    max-width: 450px;
    top: 10%;
    left: 0;
  }

  form input {
    height: 30px;
  }
  .form > div h3 {
    font-size: 18px;
    left: 18%;
    right: 0;
  }
  form input,
  button {
    margin-left: -30px;
  }

  form {
    flex-direction: column;
  }
  form button {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 12px;
  }
  #imgs {
    width: 12px;
    top: 10px;
  }
  .footer-content {
    width: 100%;
    padding: 10px 50px;
  }
  .footer-box {
    width: 100%;
    padding: 20px;
  }

  .footer-box p {
    margin-left: 0;
    margin-top: 5px;
  }
  .footer-box1 p {
    margin-left: 0;
    margin-top: 5px;
  }
  .footer-box1 {
    width: 100%;
    padding: 20px;
  }

  .social-icons img {
    width: 50px;
  }
  .footer-box1 li {
    margin-right: 30px;
  }
  .footer-content .foot {
    margin-left: 10px;
  }
}
